<div ng-controller="Our.Umbraco.YouTubePicker.VideoPicker" class="youtubepicker umb-property-editor">

    <div>
        <div class="video" ng-if="video">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe type="text/html" class="embed-responsive-item" ng-src="{{model.value}}" style="width: 100%; height: 25rem;"></iframe>
            </div>
            <a href="#" class="umb-sortable-thumbnails__action -red" ng-click="removeVideo()" prevent-default><i class="icon icon-delete"></i></a>
        </div>
        <div class="video" ng-if="!video">
            <a href="#" class="usky-editor-placeholder" ng-click="selectVideo()" prevent-default>
                <div style="padding: 10px 0; text-align: center;">
                    <i class="icon icon-picture" style="font-size: 22px;"></i><br />
                    Select video
                </div>
            </a>
        </div>
    </div>

</div>