.youTubePicker .form-search {
    min-height: 35px;
}

    .youTubePicker .form-search input {
        min-width: 60% !important;
        width: 50% !important;
        float: left;
    }

    .youTubePicker .form-search select {
        width: 19% !important;
        margin-left: 1%;
        float: left;
    }

    .youTubePicker .form-search button {
        width: 19% !important;
        margin-left: 1%;
        float: left;
    }

    .youTubePicker .pagination {
        width: 100%;
        margin: 0 0;
        text-align: center;
        padding-top: 10px;
        display: inline-block;
    }

.youTubePicker .results .umb-media-grid__item {
    width: 48%;
    float: left;
    margin: 1%;
}

.youTubePicker .results .umb-media-grid__item-overlay {
    background-color: #2bc37c;
    color: white;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 6px 14px;
}

.youTubePicker .results .umb-media-grid__item.-selected:before {
    display:none;
}

.youTubePicker .results .umb-media-grid__checkmark {
    display: none;
}