<div class="umb-editor umb-mediapicker" ng-controller="Our.Umbraco.YoutubePicker.Overlay">
    <div>
        <select ng-options="option as option for option in model.options"
                ng-model="model.selectedOption"
                ng-change="onChange()"></select>
    </div>

    <br />

    <div data-element="media-grid" class="umb-media-grid" ng-if="model.showResults">
        <div data-element="media-grid-item-{{$index}}" style="width: 45%;" class="umb-media-grid__item" title="{{item.snippet.title}}" ng-click="clickItem(item, model.items, $index)" ng-repeat="item in model.items | filter:filterBy" ng-class="{'-selected': item.selected}">
            <div>
                <i ng-show="item.selected" class="icon-check umb-media-grid__checkmark"></i>

                <div data-element="media-grid-item-edit" class="umb-media-grid__item-overlay" ng-class="{'-locked': item.selected}" ng-click="clickItemName(item, model.items, $index)">
                    <div class="umb-media-grid__item-name">{{item.snippet.title}}</div>
                </div>

                <!-- Check backgrund -->
                <div class="umb-media-grid__image-background" ng-if="item.snippet.thumbnails.high"></div>

                <!-- Image thumbnail -->
                <img class="umb-media-grid__item-image" width="{{item.snippet.thumbnails.high.width}}" height="{{item.snippet.thumbnails.high.height}}" ng-if="item.snippet.thumbnails.high" ng-src="{{item.snippet.thumbnails.high.url}}" alt="{{item.snippet.title}}" draggable="false" />

                <!-- Transparent image - fallback - used to keep image proportions on wrapper-->
                <img class="umb-media-grid__item-image-placeholder" ng-if="!item.snippet.thumbnails.high || !item.snippet.thumbnails.high.url" src="assets/img/transparent.png" alt="{{item.snippet.title}}" draggable="false" />
            </div>
        </div>
    </div>

</div>